body {
    background-color: green;
}
.board {
    text-align: center;
}
.hand {
    margin-top: 200px;
    display: inline-block;
    position: relative;
}
.card {
    position: absolute;
    width: 100px;
}